body {
    background-color: #050505 !important; /* Fondo negro obligatorio */
    color: white !important;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #000;
    border-bottom: 1px solid #222;
}

.btn-nav-login {
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px #ff0000;
}

.panel-btn {
    border: 1px solid #ff0000;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}