:root {
    --primary: #ff0000;
    --bg: #050505;
    --card-bg: #111111;
}

body {
    background-color: var(--bg) !important;
    color: white !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #000;
    border-bottom: 1px solid #222;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.btn-nav-login {
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--primary);
    font-weight: 900 !important;
}

.logout-link {
    color: #ff4444 !important;
    font-weight: 900;
    cursor: pointer;
}

/* Tarjetas de Scripts */
.products-section { padding: 60px 8%; text-align: center; }
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.product-card {
    background: var(--card-bg);
    border: 1px solid #222;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}

.price { color: #2ecc71; font-weight: 900; }
.btn-buy {
    background: #fff;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
}