body { background: #000; color: white; font-family: sans-serif; margin: 0; }
.navbar { display: flex; justify-content: space-between; padding: 20px 5%; background: #050505; align-items: center; border-bottom: 1px solid #222; }
.logo span { color: #ff0000; }
.menu { display: flex; list-style: none; gap: 20px; }
.menu a { color: white; text-decoration: none; font-weight: 600; }

/* ESTILO TARJETICA */
.grid-productos { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 25px; padding: 40px; }
.card { background: #0a0a0a; border: 1px solid #1a1a1a; border-radius: 15px; padding: 20px; text-align: center; }
.card:hover { border-color: #ff0000; }
.precio { color: #ff0000; font-size: 1.5rem; font-weight: 900; margin: 15px 0; }
.btn-cart { background: #ff0000; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; }
.btn-detalles { background: white; color: black; border: none; padding: 10px 15px; border-radius: 5px; font-weight: 700; cursor: pointer; }