* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
body { background: #000; color: #fff; overflow-x: hidden; }

/* NAVBAR FIJA */
.navbar {
    background: #050505;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ff0000;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box { display: flex; align-items: center; gap: 10px; }
.mini-logo { height: 35px; }
.brand { font-weight: 900; font-size: 1.2rem; letter-spacing: 1px; }
.red { color: #ff0000; }

/* BOTON LOGIN */
.login-button {
    background: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
    border: none;
}

/* MENU DE USUARIO (EL ROJO) */
.user-active-btn {
    background: #ff0000;
    padding: 6px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 700;
}

.user-active-btn img { width: 28px; height: 28px; border-radius: 50%; border: 1px solid #fff; }

.menu-box {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background: #111;
    min-width: 190px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

.menu-box a { color: #fff; padding: 12px 15px; text-decoration: none; display: block; font-size: 14px; }
.menu-box a:hover { background: #222; color: #ff0000; }
.line { height: 1px; background: #333; margin: 5px 0; }
.exit { color: #ff4444 !important; }
.show { display: block !important; }

/* HERO (LOGO GRANDE) */
.hero-section {
    padding-top: 150px;
    text-align: center;
    min-height: 100vh;
}

.main-img {
    width: 250px; /* Tamaño controlado para que no se bugee */
    margin-bottom: 20px;
    filter: drop-shadow(0 0 20px rgba(255,0,0,0.2));
}

.red-glow { color: #ff0000; text-shadow: 0 0 15px #ff0000; }